                                  

.PopupPanel
{
	width: 500px;
}

.popup-choices-scroll
{
	height: 400px;
	width: 100%;
	overflow: squish scroll;
}

.popup-choices
{
	flow-children: down;
	height: fit-children;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.popup-choices CSGOAvatarImage Image
{
	margin: 0px;
}

  	                                                                                                          
  	                                                                               
  	                                                                                                                                                       
  	                                                                                                                                      
.popup-map-vote #ChoicesContainer Button Label 
{
	text-transform: none;
}

.popup-choices
{
	color: black;
}

.popup-choices-icon,
#Icon.popup-choices-icon,
.popup-choices #Icon.popup-choices-icon {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    horizontal-align: center;
    vertical-align: center;
}